html{
    background-color: #000;
}

.food-sheet input{
    width: 80%;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 20px;
}


.container {
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete{
    color: red;
}

.food-row{
    height: 35px;
    border: 1px solid black;
    border-collapse: collapse;
}

.food-unit{
    border-right: 1px solid;
    padding: 5px 20px;
}

.add-item-button{
    margin-top: 20px;
}

table.food-sheet{
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-color: #000;
    margin: 0 auto;
    table-layout: auto;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.food-search {
    max-width: 500px;
    margin: 20px auto;
}

input[type="text"] {
    padding: 6px 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 6px 12px;
    margin-left: 5px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "col1 col2"
        "col3 col3";
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.col-1 {
    grid-area: col1;
}

.col-2 {
    grid-area: col2;
}

.col-3 {
    grid-area: col3;
}


.column {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.col-1, .col-3, .col-2 {
    min-width: 200px;
}

.todo-item, .grocery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    gap: 10px;
}

.todo-text, .grocery-text {
    flex: 1;
    font-size: 22px;
    outline: none;
    padding: 4px 0;
    cursor: text;
}

.todo-text.completed, .grocery-text.completed {
    text-decoration: line-through;
    color: gray;
}

.todo-checkbox, .grocery-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.todo-delete, .grocery-delete {
    background: transparent;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
    margin-left: 5px;
}

.todo-delete:hover {
    color: red;
}



@media (max-width: 768px) {
    .todo-text, .grocery-text{
        font-size: 18px;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "col1"
            "col2"
            "col3";
    }

    .column {
        width: 100%;
    }
}
